@media(min-width:992px){

    /* The navigation menu */
    .navbar {
      background-color: black;
    }
    
    /* Navigation links */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    /* The subnavigation menu */
    .subnav {
      float: left;
      text-align: center;
    }
    
    /* Subnav button */
    .subnav .subnavbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 8px 16px;
      background-color: inherit;
      font-family: inherit;
    
    }
    .navbar-brand span{
      font-size:35px ;
      color:red ; 
    }
    .navbar-brand:hover {
      background-color: initial !important;
    }
    
    /* Add a red background color to navigation links on hover */
    .navbar a:hover,
    .subnav:hover .subnavbtn {
      background-color: red;
    
    }
    
    /* Style the subnav content - positioned absolute */
    .subnav-content {
      display: none;
      position: absolute;
      left: 10%;
      right: 10%;
      background-color: red;
      width: 80%;
      height: 150px;
      z-index: 1;
    }
    
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: black;
      text-decoration: none;
    }
    
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    
    /* When you move the mouse over the subnav container, open the subnav content */
    .subnav:hover .subnav-content {
      display: block;
    
    }
    /* ////////////////upper background//////////////////// */
    
    
    }
    
    .jumbotron .container {
      z-index: 2;
      position: relative;
    }
    @media(min-width:768px) and (max-width:991px){
      
    /* The navigation menu */
    .navbar {
      background-color: black;
    }
    
    /* Navigation links */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      padding: 7px 7px;
      text-decoration: none;
    }
    
    /* The subnavigation menu */
    .subnav {
      float: left;
      text-align: center;
    }
    
    /* Subnav button */
    .subnav .subnavbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 7px 10px;
      background-color: inherit;
      font-family: inherit;
    
    }
    .navbar-brand span{
      font-size:30px ;
      color:red ; 
    }
    .navbar-brand:hover {
      background-color: initial !important;
    }
    
    /* Add a red background color to navigation links on hover */
    .navbar a:hover,
    .subnav:hover .subnavbtn {
      background-color: red;
    
    }
    
    /* Style the subnav content - positioned absolute */
    .subnav-content {
      display: none;
      position: absolute;
      left: 5%;
      right:5%;
      background-color: red;
      width: 90%;
      height: 150px;
     
    }
    
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: black;
      text-decoration: none;
    }
    
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    
    /* When you move the mouse over the subnav container, open the subnav content */
    .subnav:hover .subnav-content {
      display: block;
    
    }
    .up-bg{
      margin-top:200px;
    }
    }
    @media(min-width:575px) and (max-width:767px){
      
    /* The navigation menu */
    .navbar {
      background-color: black;
    }
    
    /* Navigation links */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      padding: 5px 8px;
      text-decoration: none;
    }
    
    /* The subnavigation menu */
    .subnav {
      float: left;
      text-align: center;
    }
    
    /* Subnav button */
    .subnav .subnavbtn {
      font-size: 10;
      border: none;
      outline: none;
      color: white;
      padding: 5px 6px;
      background-color: inherit;
      font-family: inherit;
    
    }
    .navbar-brand span{
      font-size:25px ;
      color:red ; 
    }
    .navbar-brand:hover {
      background-color: initial !important;
    }
    
    /* Add a red background color to navigation links on hover */
    .navbar a:hover,
    .subnav:hover .subnavbtn {
      background-color: red;
    
    }
    
    /* Style the subnav content - positioned absolute */
    .subnav-content {
      display: none;
      position: absolute;
      left: 0%;
      right: 0%;
      background-color: red;
      width: 100%;
      height: 150px;
      z-index: 1;
    }
    
    /* Style the subnav links */
    .subnav-content a {
      float: left;
      color: black;
      text-decoration: none;
    }
    
    /* Add a grey background color on hover */
    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }
    
    /* When you move the mouse over the subnav container, open the subnav content */
    .subnav:hover .subnav-content {
      display: block;
    
    }
    
    }
    @media(min-width:479px) and (max-width:574px){
      
      
    /* The navigation menu */
    .navbar {
      background-color: black;
    }
    
    /* Navigation links */
    .navbar a {
      float: right;
      font-size: 20px;
      color: white;
      padding: 7px 5px;
      text-decoration: none;
    }
    
    /* The subnavigation menu */
    .subnav {
      float: left;
      text-align: center;
    }
    
    /* Subnav button */
    .subnav .subnavbtn {
      font-size: 8px;
      border: none;
      outline: none;
      color: white;
      padding: 8px 10px;
      background-color: inherit;
      font-family: inherit;
    
    }
    .navbar-brand span{
      font-size:22px ;
      color:red ; 
    }
    .navbar-brand:active {
      background-color: initial !important;
    }
    .subnav-content{
      background-color:red !important;
    }
    /* Add a grey background color on hover */
    #service_con,#about_con,#result_con {
      color: white;
      font-size: 15px;
      display: none;
      
     
    }
    
    
    }
    @media(max-width:479px){
      
    /* The navigation menu */
    .navbar {
      background-color: black;
    }
    
    /* Navigation links */
    .navbar a {
      float: right;
      font-size: 20px;
      color: white;
      padding: 7px 5px;
      text-decoration: none;
    }
    
    /* The subnavigation menu */
    .subnav {
      float: left;
      text-align: center;
    }
    
    /* Subnav button */
    .subnav .subnavbtn {
      font-size: 8px;
      border: none;
      outline: none;
      color: white;
      padding: 8px 10px;
      background-color: inherit;
      font-family: inherit;
    
    }
    .navbar-brand span{
      font-size:22px ;
      color:red ; 
    }
    .navbar-brand:active {
      background-color: initial !important;
    }
    .subnav-content a{
      float: right;
      
    }
    /* Add a grey background color on hover */
    #service_con,#about_con,#result_con {
      color: white;
      font-size: 15px;
      display: none;
      
     
    }
    
    }
    
    .up-bg{
      background-image: url('img/backgrounds/benches.png');
      width:100%;
      height: auto;
    }
    