
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:transparent;
}
.header {
    text-align: center;
    margin-top: 4em;
}
.header h1 {
    font-size: 3.5em;
    color: #fff;
    font-weight: 400;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
}
.sap_tabs-w3agile {
 margin: 3em auto 0;
 width:32%;
  text-align: center;
  -webkit-appearance: none;
    background-color: rgba(25, 30, 33, 0.86);;
 }
 .register {
    padding: 1em 1em;
}
 .resp-tab-item{
  border:none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  padding:10px 30px;
  display: inline-block;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
    background: #1C395C;
	font-family: 'Ubuntu Condensed', sans-serif;
	border-radius: 5px;
}
.login-top {
       padding: 1em 0 0;
}
.resp-tab-item:hover {
     background: #FFFFFF;
    text-shadow: none;
    color: #222;
}
.resp-tab-active {
    background: #FFFFFF;
    text-shadow: none;
    color: #222;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.tab {
    background: #fdbb30;
    padding: 1em 0em 0 0;
}
.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.login-top p {
    font-size: 1em;
    color: #fdbb30;
    margin-bottom: 0.5em;
}
/*---------*/
.register input[type="text"]{
	outline: none;
    font-size:0.95em;
	color: #eee;
    padding: .8em 3em .8em 1em;
	border:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	width: 86%;
    margin: 0 0 15px 0 ;
	font-family: 'Open Sans', sans-serif;
	    background: rgba(17, 18, 22, 0.68) url(../images/mess.png) no-repeat 96% 50%;
	    border-radius: 5px;
}



.register input.user {
    background: rgba(17, 18, 22, 0.68) url(../images/user.png) no-repeat 96% 50%;
}
.register input.phone {
    background: rgba(17, 18, 22, 0.68) url(../images/phone.png) no-repeat 96% 50%;
}
.register input[type="password"] {
	outline: none;
    font-size:0.95em;
	color: #eee;
	padding: .8em 3em .8em 1em;
	border:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 86%;
    margin: 0 0 15px 0 ;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	background: rgba(17, 18, 22, 0.68) url(../images/pass.png) no-repeat 96% 50%;
}
.sign-up {
    padding-bottom: .5em;
}
.sign-up input[type="submit"] {
    background:#fdbb30;
    color: #fff;
	border: none;
    font-size: 1.3em;
    padding: 0.4em 1em;
    width: 99%;
    cursor: pointer;
    outline: none;
    display:block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Ubuntu Condensed', sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin:0 auto;
	
}
.register span {
    display: block;
    margin: 0 0 1em 0;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: left;
}
.register span input[type="checkbox"] {
       vertical-align: middle;
}
.sign-up input[type="submit"]:hover{
	color: #000;
    background: #fff;
}
 ::-webkit-input-placeholder{
	color:#eee;
}

:-moz-placeholder { /* Firefox 18- */
   color: #eee; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;  
}

:-ms-input-placeholder {  
   color: #eee;  
}
h4.text-center {
    font-size: 1.5em;
    color: #fff;
    padding-top: 0.5em;
	font-family: 'Ubuntu Condensed', sans-serif;
}
h4.text-center1 {
    font-size: 1.5em;
    color: #fff;
    padding: 0 0 .5em;
	font-family: 'Ubuntu Condensed', sans-serif;
}
p.tab-text {
    font-size: 0.95em;
    line-height: 1.8em;
    color: #fff;
    padding: 1em 1em 0;
}
.select-left {
    float: left;
    width: 50%;
}
.select-right {
    float: left;
    width: 50%;
}
.sel {
    width: 98%;
    padding: .8em 1em;
    font-size: 0.95em;
    margin-bottom: 1em;
    outline: none;
	border: none;
    background: rgba(17, 18, 22, 0.68) ;
    color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	    font-family: 'Open Sans', sans-serif;
}
.register a {
    color: #fdbb30;
    font-size: 0.9em;
    text-decoration: underline;
}

.login-top ul li a.face {
	background:#3b5998;
	padding: 0.8em 1.7em 0.9em 1em;
	    border-radius: 5px;
}
.login-top ul li a.face:hover {
  background: #244384;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-top ul li a.twit {
	background:#00aeed;
	padding: 0.8em 2.8em 0.9em 1em;
	    border-radius: 5px;
}
.login-top ul li a.twit:hover {
	background:#26A6D5;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-top ul li a span.face {
  background: url(../images/face.png) no-repeat 0px 0px;
  width:32px;
  height:32px;
  display:inline-block;
  vertical-align: middle;
  margin: 0em 1.5em 0em 0em;
}
.login-top ul li a span.twit {
  background: url(../images/twit.png)no-repeat 0px 0px;
  width:32px;
  height:32px;
  display:inline-block;
  vertical-align: middle;
  margin: 0em 1.5em 0em 0em;
}
.login-top ul li a {
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
}
.login-top ul li {
    padding: .8em 0;
	    display: inline-block;
}
.footer-w3l {
    text-align: center;
	padding:2em 0;
}
.footer-w3l p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
}
.footer-w3l p a {
    color: #fff;
}
.footer-w3l p a:hover {
   text-decoration:underline;
}
/**responsive**/
@media (max-width: 1440px){
.sap_tabs-w3agile {
    width: 36%;
}
}
@media (max-width: 1366px){
.sap_tabs-w3agile {
    width: 39%;
}
}
@media (max-width: 1280px){
.sap_tabs-w3agile {
    width: 41%;
}
@media (max-width: 1080px){
.sap_tabs-w3agile {
    width: 48%;
}
}
@media (max-width: 1024px){
.sap_tabs-w3agile {
    width: 51%;
}
.footer-w3l {
    text-align: center;
    padding: 4em 0;
}
}
@media (max-width: 991px){
.header h1 {
    font-size: 3em;	
}
.sap_tabs-w3agile {
    width: 54%;
	margin: 2em auto 0;
}
.header {
    margin-top: 3em;
}
.footer-w3l {
    text-align: center;
    padding: 2em 0;
}
}
@media (max-width: 800px){
.sap_tabs-w3agile {
    width: 65%;
}
}
@media (max-width: 768px){
.sap_tabs-w3agile {
    width: 68%;
}
.header {
    margin-top: 7em;
}
}
@media (max-width: 736px){
.sap_tabs-w3agile {
    width: 73%;
}
.header {
    margin-top: 3em;
}
.footer-w3l {
    padding: 2em 0;
}
}
@media (max-width: 667px){
.sap_tabs-w3agile {
    width: 81%;
}
}
@media (max-width: 640px){
.sap_tabs-w3agile {
    width: 82%;
}
}
@media (max-width: 600px){
.sap_tabs-w3agile {
    width: 90%;
}
@media (max-width: 568px){
.sap_tabs-w3agile {
    width: 95%;
}
}
@media (max-width: 480px){
.sap_tabs-w3agile {
    width: 85%;
	margin: 3em auto 0;
}
.footer-w3l p {
    line-height: 1.8em;
}
.login-top ul li a {
    font-size: 0.8em;
}
.resp-tab-item {
    padding: 10px 18px;
	font-size: 1.1em;
}
p.tab-text {
    font-size: 0.9em;
}
.register input[type="text"],.register input[type="password"]  {
    width: 80%;	
}
.select-left {
    width: 100%;
}
.select-right {
    width: 100%;
}
}
@media (max-width: 414px){
.header h1 {
    font-size: 2.5em;
}
.sap_tabs-w3agile {
    width: 90%;	
}
.register input[type="text"],.register input[type="password"]  {
    width: 81%;	
	font-size: 0.8em;
}
.sign-up input[type="submit"] { 
	font-size: 1.2em;
}
.footer-w3l p {
    font-size: 0.8em;
}
.sel{
	font-size: 0.8em;
	width:99%;
}
}
@media (max-width: 384px){
.sap_tabs-w3agile {
    width: 90%;
    margin: 2em auto 0;
}
.sel{
	font-size: 0.8em;
	width:99%;
}
p.tab-text {
    font-size: 0.8em;
}
h4.text-center1,h4.text-center {
    font-size: 1em;
}
.sel {
    font-size: 0.8em;
    width: 100%;
}
.register input[type="text"], .register input[type="password"] {
    width: 83%;
}
.register {
    padding: 1em 1em;
}
}
@media (max-width: 320px){
.header h1 {
    font-size: 2.3em;
}
.resp-tab-item {
    padding: 10px 11px;
    font-size: 1em;
}
.sap_tabs-w3agile {
    width: 93%;
	margin: 2em auto 0;
}
.register input[type="text"], .register input[type="password"] {
    width: 79%;
}
.header {
    margin-top: 2em;
}
.sign-up input[type="submit"] {
    font-size: 1.1em;
}
.footer-w3l {
    text-align: center;
    padding: 1em 0;
}	

}

